In [1]:
import pandas as pd
import numpy as np

In [11]:
sgd_binary = pd.read_csv("../../results/baseline_SGD_binary/downstream_baseline_perfomance_sgd_binary.csv",index_col=0)
sgd_multi = pd.read_csv("../../results/baseline_SGD/downstream_baseline_perfomance_sgd_multi.csv",index_col=0)

In [12]:
autogluon_multi =  pd.read_csv("../../results/baseline_autogluon_multi/downstream_baseline_perfomance_autogluon_multi.csv",index_col=0)
autogluonbinary=  pd.read_csv("../../results/baseline_autogluon/downstream_baseline_perfomance_autogluon_binary.csv",index_col=0)

In [13]:
merged_df = pd.merge(autogluon_multi, sgd_multi, on='dataset_id')

In [14]:
merged_df

    baseline_performance_x  dataset_id  baseline_performance_y
0                 0.885814        1459                0.290493
1                 1.000000        1526                0.896994
2                 0.157067         183                0.100795
3                 0.777791          26                0.556767
4                 0.871874          30                0.752163
5                 0.969456         375                0.918005
6                 0.992365          32                0.932061
7                 0.987555       40497                0.698915
8                 0.470031       40498                0.174904
9                 0.850218       40685                0.385588
10                0.387487       41671                0.240619
11                0.457271        4552                0.422108
12                0.720760       41027                0.474722
13                0.961756           6                0.726188

In [17]:
merged_df['difference'] = merged_df['baseline_performance_x'] - merged_df['baseline_performance_y']
merged_df

    baseline_performance_x  dataset_id  baseline_performance_y  difference
0                 0.885814        1459                0.290493    0.595321
1                 1.000000        1526                0.896994    0.103006
2                 0.157067         183                0.100795    0.056272
3                 0.777791          26                0.556767    0.221024
4                 0.871874          30                0.752163    0.119711
5                 0.969456         375                0.918005    0.051452
6                 0.992365          32                0.932061    0.060304
7                 0.987555       40497                0.698915    0.288639
8                 0.470031       40498                0.174904    0.295127
9                 0.850218       40685                0.385588    0.464631
10                0.387487       41671                0.240619    0.146867
11                0.457271        4552                0.422108    0.035163
12                0.720760       41027                0.474722    0.246038
13                0.961756           6                0.726188    0.235568

In [18]:
merged_df['difference'].mean()

0.2085087540505768

In [19]:
merged_df['difference'].min()

0.03516284678192372

In [20]:
merged_df['difference'].max()

0.5953211712317252