In [10]:
import pandas as pd

In [36]:
autogluon_multi_XGB_30 = pd.read_csv("../../results/baseline_autogluon_multi_30_XGB/downstream_baseline_perfomance_autogluon_multi_XGB_30.csv",index_col=0)
autogluon_multi_XGB_60 = pd.read_csv("../../results/baseline_autogluon_multi_60_XGB/downstream_baseline_perfomance_autogluon_multi_XGB_60.csv",index_col=0)
autogluon_multi_XGB_120 = pd.read_csv("../../results/baseline_autogluon_multi_120_XGB/downstream_baseline_perfomance_autogluon_multi_XGB_120.csv",index_col=0)
autogluon_multi_XGB_360 = pd.read_csv("../../results/baseline_autogluon_multi_360_XGB/downstream_baseline_perfomance_autogluon_multi_XGB_360.csv",index_col=0)

In [29]:
autogluon_multi_30 =  pd.read_csv("../../results/baseline_autogluon_multi_30/downstream_baseline_perfomance_autogluon_multi.csv",index_col=0)
autogluon_multi_60 =  pd.read_csv("../../results/baseline_autogluon_multi_60/downstream_baseline_perfomance_autogluon_multi_60.csv",index_col=0)
autogluon_multi_120 =  pd.read_csv("../../results/baseline_autogluon_multi_120/downstream_baseline_perfomance_autogluon_multi_120.csv",index_col=0)
autogluon_multi_360 =  pd.read_csv("../../results/baseline_autogluon_multi_360/downstream_baseline_perfomance_autogluon_muti_360.csv",index_col=0)

In [16]:
merged_df = pd.merge(autogluon_multi_30, autogluon_multi_60, on='dataset_id')
merged_df

    baseline_performance_x  dataset_id  baseline_performance_y
0                 0.885814        1459                0.885814
1                 0.662725        1481                0.662725
2                 1.000000        1526                1.000000
3                 0.157067         183                0.157067
4                 0.777791          26                0.777791
5                 0.737710         184                0.737710
6                 0.871874          30                0.871874
7                 0.969456         375                0.969456
8                 0.992365          32                0.992365
9                 0.987555       40497                0.987555
10                0.470031       40498                0.470031
11                0.850218       40685                0.850218
12                0.457271        4552                0.457271
13                0.720760       41027                0.720760
14                0.961756           6                0.961756

In [30]:
autogluon_multi_30["baseline_performance"].mean()

0.7423545854583318

In [31]:
autogluon_multi_60["baseline_performance"].mean()

0.7668262430067279

In [32]:
autogluon_multi_120["baseline_performance"].mean()

0.7356130959628002

In [33]:
autogluon_multi_360["baseline_performance"].mean()

0.7270295867448431

In [37]:
autogluon_multi_XGB_30["baseline_performance"].mean()

0.7596225950052851

In [26]:
autogluon_multi_XGB_60["baseline_performance"].mean()

0.7380269435057545

In [28]:
autogluon_multi_XGB_120["baseline_performance"].mean()

0.7681315067134982

In [35]:
autogluon_multi_XGB_360["baseline_performance"].mean()

0.7425433550705777