In [30]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
import pandas as pd
from sklearn.linear_model import SGDClassifier, SGDRegressor

In [47]:
df = pd.read_csv("../train_data_corrupted.csv",index_col=0)

In [48]:
df

,white_king_col,white_king_row,white_rook_col,white_rook_row,black_king_col,black_king_row
20482,d,2.0,NaN,1.0,f,8.0
20631,d,2.0,g,3.0,g,6.0
27228,c,1.0,NaN,3.0,f,5.0
8879,c,2.0,b,7.0,f,8.0
16826,NaN,1.0,NaN,5.0,h,3.0
...,...,...,...,...,...,...
21575,b,1.0,c,1.0,e,8.0
5390,c,1.0,h,3.0,e,1.0
860,c,1.0,NaN,7.0,b,8.0
15795,d,2.0,e,6.0,d,8.0
23654,c,1.0,h,8.0,d,7.0

In [49]:
numerical_columns= []
categorical_columns = ["white_king_col", "white_king_row", "white_rook_col", "white_rook_row" ,"black_king_col","black_king_row"]

In [50]:
        categorical_preprocessing = Pipeline(
            [
                ('mark_missing', SimpleImputer(strategy='most_frequent')),# If there is more than one such value, only the smallest is returned.
                #('mark_missing', SimpleImputer(strategy='constant', fill_value='__NA__')),
                #('one_hot_encode', OneHotEncoder(handle_unknown='ignore'))
            ]
        )

        numerical_preprocessing = Pipeline(
            [
                ('mark_missing', SimpleImputer(strategy='mean')),
                #('mark_missing', SimpleImputer(strategy='constant', fill_value=0)),
                ('scaling',  StandardScaler())
            ]
        )
        feature_transformation = ColumnTransformer(transformers=[
                ('categorical_features', categorical_preprocessing, categorical_columns),
                ('scaled_numeric', numerical_preprocessing, numerical_columns)
            ]
        )

In [37]:
 pipeline = Pipeline(
            [
                ('features', feature_transformation),
                ('learner', SGDClassifier(max_iter=1000, n_jobs=-1, random_state=5))#PD
                #('learner', MLPClassifier(max_iter=3000, random_state=rng))
                
            ]
        )

In [36]:
pipeline.

SyntaxError: invalid syntax (3589867455.py, line 1)

In [51]:
df2= feature_transformation.fit_transform(df.copy())

In [52]:
df2

array([['d', 2.0, 'g', 1.0, 'f', 8.0],
       ['d', 2.0, 'g', 3.0, 'g', 6.0],
       ['c', 1.0, 'g', 3.0, 'f', 5.0],
       ...,
       ['c', 1.0, 'g', 7.0, 'b', 8.0],
       ['d', 2.0, 'e', 6.0, 'd', 8.0],
       ['c', 1.0, 'h', 8.0, 'd', 7.0]], dtype=object)