In [1]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
import pandas as pd
from sklearn.linear_model import SGDClassifier, SGDRegressor
from scipy.io import arff
from sklearn.datasets import fetch_openml

In [33]:
arf= arff.loadarff("led24.arff")
df= pd.DataFrame(arf[0])

In [27]:
X, y = fetch_openml(data_id=26, as_frame=True, return_X_y=True, cache=False)

C:\Users\Petro\AppData\Roaming\Python\Python38\site-packages\sklearn\datasets\_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [21]:
X4, y4 = fetch_openml(data_id=1481, as_frame=True, return_X_y=True, cache=False)

C:\Users\Petro\AppData\Roaming\Python\Python38\site-packages\sklearn\datasets\_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [28]:
X

,parents,has_nurs,form,children,housing,finance,social,health
0,usual,proper,complete,1,convenient,convenient,nonprob,recommended
1,usual,proper,complete,1,convenient,convenient,nonprob,priority
2,usual,proper,complete,1,convenient,convenient,nonprob,not_recom
3,usual,proper,complete,1,convenient,convenient,slightly_prob,recommended
4,usual,proper,complete,1,convenient,convenient,slightly_prob,priority
...,...,...,...,...,...,...,...,...
12955,great_pret,very_crit,foster,more,critical,inconv,slightly_prob,priority
12956,great_pret,very_crit,foster,more,critical,inconv,slightly_prob,not_recom
12957,great_pret,very_crit,foster,more,critical,inconv,problematic,recommended
12958,great_pret,very_crit,foster,more,critical,inconv,problematic,priority
12959,great_pret,very_crit,foster,more,critical,inconv,problematic,not_recom

In [22]:
X4

      V1   V2 V3   V4 V5   V6
0      1  1.0  2  3.0  3  2.0
1      1  1.0  3  1.0  3  2.0
2      1  1.0  3  1.0  4  1.0
3      1  1.0  3  1.0  4  2.0
4      1  1.0  3  2.0  3  1.0
...   ..  ... ..  ... ..  ...
28051  2  1.0  7  7.0  5  5.0
28052  2  1.0  7  7.0  5  6.0
28053  2  1.0  7  7.0  5  7.0
28054  2  1.0  7  7.0  6  5.0
28055  2  1.0  7  7.0  7  5.0

[28056 rows x 6 columns]

In [72]:
X["V7"] = X4["white_king_col"]

In [34]:
X

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [16]:
categorical_columns = X.columns.values
numerical_columns = [ ]

In [15]:
categorical_columns

[array(['white_king_col', 'white_king_row', 'white_rook_col',
        'white_rook_row', 'black_king_col', 'black_king_row'], dtype=object)]

In [17]:
        categorical_preprocessing = Pipeline(
            [
                ('mark_missing', SimpleImputer(strategy='most_frequent')),# If there is more than one such value, only the smallest is returned.
                #('mark_missing', SimpleImputer(strategy='constant', fill_value='__NA__')),
                ('one_hot_encode', OneHotEncoder(handle_unknown='ignore',sparse= False))
            ]
        )

        numerical_preprocessing = Pipeline(
            [
                ('mark_missing', SimpleImputer(strategy='mean')),
                #('mark_missing', SimpleImputer(strategy='constant', fill_value=0)),
                ('scaling',  StandardScaler())
            ]
        )
        feature_transformation = ColumnTransformer(transformers=[
                ('categorical_features', categorical_preprocessing, categorical_columns),
                ('scaled_numeric', numerical_preprocessing, numerical_columns)
            ]
        )

In [18]:
df= X

In [19]:
transformed_data = pd.DataFrame(feature_transformation.fit_transform(df))

C:\Users\Petro\AppData\Roaming\Python\Python38\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [20]:
transformed_data

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28051,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28052,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
28053,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
28054,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28055,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [7]:
if categorical_columns and numerical_columns:
    transformed_data = pd.DataFrame(feature_transformation.fit_transform(df))
elif not categorical_columns and numerical_columns:
    transformed_data = pd.DataFrame(feature_transformation.fit_transform(df))
elif categorical_columns and not numerical_columns:
    transformed_data = pd.DataFrame(feature_transformation.fit_transform(df).toarray())
elif not categorical_columns and not numerical_columns:
    raise ValueError("categorical_columns list and numerical_columns list are empty. Feature Prep. Pipeline needs imput!")

In [9]:
transformed_data = pd.DataFrame(feature_transformation.fit_transform(df).toarray())

In [8]:
transformed_data

,0,1,2,3,4,5,6,7,8,9
0,0.0,0.0,1.0,-0.574558,-0.432149,-1.064424,-0.641898,-0.607685,-0.726212,-0.638217
1,0.0,0.0,1.0,-1.448986,-1.439929,-1.183978,-1.230277,-1.170910,-1.205221,-1.212987
2,1.0,0.0,0.0,0.050033,0.122130,-0.107991,-0.309469,-0.463500,-0.356690,-0.207139
3,0.0,0.0,1.0,-0.699476,-0.432149,-0.347099,-0.637819,-0.648238,-0.607600,-0.602294
4,0.0,1.0,0.0,-1.615544,-1.540707,-1.423087,-1.272086,-1.215968,-1.287337,-1.320757
...,...,...,...,...,...,...,...,...,...,...
4172,1.0,0.0,0.0,0.341509,0.424464,0.609334,0.118813,0.047908,0.532900,0.073062
4173,0.0,0.0,1.0,0.549706,0.323686,-0.107991,0.279929,0.358808,0.309362,0.155685
4174,0.0,0.0,1.0,0.632985,0.676409,1.565767,0.708212,0.748559,0.975413,0.496955
4175,1.0,0.0,0.0,0.841182,0.777187,0.250672,0.541998,0.773341,0.733627,0.410739
4176,0.0,0.0,1.0,1.549052,1.482634,1.326659,2.283681,2.640993,1.787449,1.840481